.App {
  text-align: center;
}

.btn-input {
  font-size: 20px;
  padding: 11px;
  margin: 10px;
  border: 2px solid #dfdfdf;
  border-radius: 10px;
  background-color: #b2d4f6;
}

.btn {
  cursor: pointer;
  min-width: 100px;
  font-size: medium;
}
